language: java
sudo: false

install:
  -

matrix:
  fast_finish: true
  include:
    - jdk: oraclejdk8
      env:
        - DESC="releasenotes-xdoc-builder"
        - CMD="cd releasenotes-xdoc-builder && mvn clean verify && mvn clean compile package"

    - jdk: oraclejdk8
      env:
        - DESC="patch-diff-report-tool"
        - CMD="cd patch-diff-report-tool && mvn clean install"

    - jdk: oraclejdk8
      env:
        - DESC="checkstyle-tester on linux "
        - CMD1=" git clone https://github.com/checkstyle/checkstyle && cd checkstyle "
        - CMD2=" && mvn clean install -Passembly"
        - CMD3=" "
        - CMD4=" "
        - CMD5=" && cd ../checkstyle-tester && cp projects-for-travis.properties projects-to-test-on.properties "
        - CMD6=" && ./launch.sh -Dcheckstyle.config.location=my_check.xml "
        - CMD=$CMD1$CMD2$CMD3$CMD4$CMD5$CMD6
    # disable as for now java8 is not supoorted jdk for travis MacOS
    #- os: osx
    #  env:
    #    - DESC="checkstyle-tester on MacOS"
    #    - CMD0="export JAVA_HOME=$(/usr/libexec/java_home) "
    #    - CMD1=" && git clone https://github.com/checkstyle/checkstyle && cd checkstyle "
    #    - CMD2=" && mvn clean install -Passembly"
    #    - CMD3=" "
    #    - CMD4=" "
    #    - CMD5=" && cd ../checkstyle-tester && cp projects-for-travis.properties projects-to-test-on.properties "
    #    - CMD6=" && ./launch.sh -Dcheckstyle.config.location=my_check.xml "
    #    - CMD=$CMD0$CMD1$CMD2$CMD3$CMD4$CMD5$CMD6

script: eval $CMD

after_success:

cache:
  directories:
  - ~/.m2

branches:
  only:
    - master
