os: Windows Server 2012
version: '{build}'
skip_tags: true
clone_depth: 10
branches:
  only:
    - master
  except:
    - gh-pages
init:
  - git config --global core.autocrlf true
install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven\apache-maven-3.2.5" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'https://downloads.apache.org/maven/maven-3/3.2.5/binaries/apache-maven-3.2.5-bin.zip',
          'C:\maven-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
      }
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\groovy\groovy-2.4.8" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'https://groovy.jfrog.io/ui/native/dist-release-local/groovy-zips/apache-groovy-binary-2.4.8.zip',
          'C:\groovy-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\groovy-bin.zip", "C:\groovy")
      }
  - cmd: SET M2_HOME=C:\maven\apache-maven-3.2.5
  - cmd: SET GROOVY_HOME=C:\groovy\groovy-2.4.8
  - cmd: SET PATH=%GROOVY_HOME%\bin;%JAVA_HOME%\bin;%M2_HOME%\bin;%PATH%
  - cmd: git config --global core.autocrlf
  - cmd: mvn --version
  - cmd: java -version
  - cmd: groovy -version

cache:
  - C:\maven\apache-maven-3.2.5
  - C:\groovy\groovy-2.4.8
  - C:\Users\appveyor\.m2

matrix:
  fast_finish: true

environment:
  global:
    CMD1: " "
    CMD2: " "
    CMD3: " "
    CMD4: " "
    CMD5: " "
    CMD6: " "
    CMD7: " "
    CMD8: " "
    CMD9: " "
    CMD10: " "
  # We do matrix as Appveyor could fail to finish simple "mvn verify"
  #    if he loose maven cache (happens from time to time)
  matrix:
    # checkstyle and sevntu.checkstyle
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "releasenotes-builder"
      CMD1: "cd releasenotes-builder && mvn clean verify && mvn clean compile package"
    # verify without checkstyle
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "patch-diff-report-tool"
      CMD1: "cd patch-diff-report-tool && mvn clean install"
    # checkstyle-tester
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "checkstyle-tester (diff.groovy) on guava"
      CMD1: " git clone -q --depth=10 --branch=master "
      CMD2: "      https://github.com/checkstyle/checkstyle C:\\projects\\contribution\\checkstyle "
      CMD3: " && cd checkstyle && git checkout -b patch-branch"
      CMD4: " "
      CMD5: " && cd ..\\checkstyle-tester "
      CMD6: " && groovy diff.groovy -l projects-for-travis.properties -c my_check.xml -b master -p patch-branch -r C:\\projects\\contribution\\checkstyle -s"
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "checkstyle-tester (diff.groovy with base and patch configs) on guava"
      CMD1: " git clone -q --depth=10 --branch=master "
      CMD2: "      https://github.com/checkstyle/checkstyle C:\\projects\\contribution\\checkstyle "
      CMD3: " && cd checkstyle && git checkout -b patch-branch"
      CMD4: " "
      CMD5: " && cd ..\\checkstyle-tester "
      CMD6: " && groovy diff.groovy -l projects-for-travis.properties -bc my_check.xml -pc my_check.xml -b master -p patch-branch -r C:\\projects\\contribution\\checkstyle -s"

build_script:
  - ps: >
       (get-content env:CMD1)
       + (get-content env:CMD2)
       + (get-content env:CMD3)
       + (get-content env:CMD4)
       + (get-content env:CMD5)
       + (get-content env:CMD6)
       + (get-content env:CMD7)
       + (get-content env:CMD8)
       + (get-content env:CMD9)
       + (get-content env:CMD10)
       | Out-File appveyor.cmd -encoding ASCII
  - ps: get-content appveyor.cmd
  # We need to use cmd there as ps1 is failing each time error output appear from any command line
  - appveyor.cmd
  - ps: echo "Size of caches (bytes):"
  - ps: Get-ChildItem -Recurse 'C:\maven\apache-maven-3.2.5' | Measure-Object -Property Length -Sum
  - ps: Get-ChildItem -Recurse 'C:\groovy\groovy-2.4.8' | Measure-Object -Property Length -Sum
  - ps: Get-ChildItem -Recurse 'C:\Users\appveyor\.m2' | Measure-Object -Property Length -Sum

