os: Windows Server 2012
version: '{build}'
skip_tags: true
clone_depth: 10
branches:
  only:
    - master
  except:
    - gh-pages
init:
  - git config --global core.autocrlf true
install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'http://www.us.apache.org/dist/maven/maven-3/3.2.5/binaries/apache-maven-3.2.5-bin.zip',
          'C:\maven-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
      }
  - cmd: SET PATH=C:\maven\apache-maven-3.2.5\bin;%JAVA_HOME%\bin;%PATH%
  - cmd: git config --global core.autocrlf
  - cmd: mvn --version
  - cmd: java -version
  - cmd: '%CYG_BIN% -qnNdO -R %CYG_ROOT% -s %CYG_MIRROR% -l %CYG_CACHE% -P hg'

cache:
  - C:\maven\
  - C:\Users\appveyor\.m2
  - C:\cygwin\var\cache\setup

matrix:
  fast_finish: true

environment:
  global:
    CYG_BIN: C:\cygwin\setup-x86.exe
    CYG_ROOT: C:\cygwin
    CYG_CACHE: C:\cygwin\var\cache\setup
    CYG_MIRROR: http://cygwin.mirror.constant.com
    CMD1: " "
    CMD2: " "
    CMD3: " "
    CMD4: " "
    CMD5: " "
    CMD6: " "
    CMD7: " "
    CMD8: " "
    CMD9: " "
    CMD10: " "
  # We do matrix as Appveyor could fail to finish simple "mvn verify"
  #    if he loose maven cache (happens from time to time)
  matrix:
    # checkstyle and sevntu.checkstyle
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "releasenotes-xdoc-builder"
      CMD1: "cd releasenotes-xdoc-builder && mvn clean verify && mvn clean compile package"
    # verify without checkstyle
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "patch-diff-report-tool"
      CMD1: "cd patch-diff-report-tool && mvn clean install"
    # checkstyle-tester
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
      DESC: "checkstyle-tester on guava"
      CMD1: " git clone -q --depth=10 --branch=master "
      CMD2: "      https://github.com/checkstyle/checkstyle C:\\projects\\checkstyle\\checkstyle "
      CMD3: " && cd checkstyle && mvn clean install -DskipTests -DskipITs -Dcobertura.skip=true "
      CMD4: "    -Dpmd.skip=true -Dfindbugs.skip=true -Dcheckstyle.ant.skip=true -Dcheckstyle.skip=true -Dxml.skip=true"
      CMD5: " && cd ..\\contribution\\checkstyle-tester "
      CMD6: " && move /Y projects-for-travis.properties projects-to-test-on.properties "
      CMD7: " && C:\\cygwin\\bin\\bash.exe -lc "
      CMD8: "          \"cd $APPVEYOR_BUILD_FOLDER/contribution/checkstyle-tester/ ;"
      CMD9: "               ./launch.sh -Dcheckstyle.config.location=checks-nonjavadoc-error.xml\""

build_script:
  - ps: >
       (get-content env:CMD1)
       + (get-content env:CMD2)
       + (get-content env:CMD3)
       + (get-content env:CMD4)
       + (get-content env:CMD5)
       + (get-content env:CMD6)
       + (get-content env:CMD7)
       + (get-content env:CMD8)
       + (get-content env:CMD9)
       + (get-content env:CMD10)
       | Out-File appveyor.cmd -encoding ASCII
  - ps: get-content appveyor.cmd
  # We need to use cmd there as ps1 is failing each time error output appear from any command line
  - appveyor.cmd
