<html>
	<head>
		<title>checkstyle xml difference report</title>
		<style type="text/css" media="all">@import url("./css/maven-base.css");@import url("./css/maven-theme.css"); );</style>
		<http-equiv http-equiv="Content-Language" content="en"></http-equiv>
	</head>
	<body class="composite">
		<div id="contentBox">
			<div class="section">
				<h2 a="Checkstyle XML difference report">Checkstyle XML difference report</h2>
				<a href="help.html"><h4>explanation</h4></a>
			</div>
			<div class="section">
				<h2 a="CLI options">CLI options:</h2>
				<div class="section">
					<table border="0" class="bodyTable">
						<tr class="a">
							<th>Option name</th>
							<th>Option value</th>
						</tr>
						<tr class="c">
							<td>baseReportPath</td>
							<td id="baseReportPath" th:text=${paths.baseReportPath}> baseReportPath </td>
						</tr>
						<tr class="c">
							<td>patchReportPath</td>
							<td id="patchReportPath" th:text=${paths.patchReportPath}> patchReportPath </td>
						</tr>
						<tr th:if="${paths.sourcePath} != null" class="c">
							<td>sourcePath</td>
							<td id="sourcePath" th:text=${paths.sourcePath}> sourcePath </td>
						</tr>
						<tr class="c">
							<td>resultPath</td>
							<td id="resultPath" th:text=${paths.resultPath}> resultPath </td>
						</tr>
						<tr th:if="${paths.baseConfigPath} != null" class="c">
							<td>baseConfigPath</td>
							<td id="baseConfigPath" th:text=${paths.baseConfigPath}> baseConfigPath </td>
						</tr>
						<tr th:if="${paths.patchConfigPath} != null" class="c">
							<td>patchConfigPath</td>
							<td id="patchConfigPath" th:text=${paths.patchConfigPath}> patchConfigPath </td>
						</tr>
					</table>
				</div>
			</div>
			<div th:if="${paths.configurationPresent()}" class="section">
				<h2 a="Checkstyle configuration report">Checkstyle configuration report</h2>
				<a href="configuration.html"><h4>configurations</h4></a>
			</div>
			<div class="section">
				<h2 a="Summary:">Summary:</h2>
				<div class="section">
					<table border="0" class="bodyTable">
						<tr class="a">
							<th>Report id</th>
							<th>Files</th>
							<th>Unique rows</th>
							<th:block th:each="record : ${statistics.severityNumBase}">
								<th th:text="Severity- + ${record.key}"> infoNumBase </th>
							</th:block>
						</tr>
						<tr class="b">
							<td>base</td>
							<td id="filesBase" th:text=${statistics.fileNumBase}> fileNumBase </td>
							<td id="totalBase" th:text=${statistics.totalNumBase}> totalNumBase </td>
							<th:block th:each="record : ${statistics.severityNumBase}">
								<td th:id="base_ + ${record.key}" th:text=${record.value}> infoNumBase </td>
							</th:block>
						</tr>
						<tr class="a">
							<th>Report id</th>
							<th>Files</th>
							<th>Unique rows</th>
							<th:block th:each="record : ${statistics.severityNumPatch}">
								<th th:text="Severity- + ${record.key}"> infoNumBase </th>
							</th:block>
						</tr>
						<tr class="a">
							<td>patch</td>
							<td id="filesPatch" th:text=${statistics.fileNumPatch}> fileNumPatch </td>
							<td id="totalPatch" th:text=${statistics.totalNumPatch}> totalNumPatch </td>
							<th:block th:each="record : ${statistics.severityNumPatch}">
								<td th:id="patch_ + ${record.key}" th:text=${record.value}> infoNumBase </td>
							</th:block>
						</tr>
						<tr class="a">
							<th>Report id</th>
							<th>Files</th>
							<th>Unique rows</th>
							<th:block th:each="record : ${statistics.severityNumDiff}">
								<th th:text="Severity- + ${record.key}"> infoNumBase </th>
							</th:block>
						</tr>
						<tr class="c">
							<td>difference</td>
							<td id="filesDiff" th:text=${statistics.fileNumDiff}> fileNumDiff </td>
							<td id="totalDiff" th:text=${statistics.totalNumDiff}> totalNumDiff </td>
							<th:block th:each="record : ${statistics.severityNumDiff}">
								<td th:id="diff_ + ${record.key}" th:text=${record.value}> infoNumBase </td>
							</th:block>
						<tr>
					</table>
				</div>
			</div>
			<div class="section">
				<h2 a="Unique rows:">Unique rows:</h2>
