<html>
	<head>
		<title>checkstyle xml difference report</title>
		<style type="text/css" media="all">@import url("./css/maven-base.css");@import url("./css/maven-theme.css"); );</style>
		<http-equiv http-equiv="Content-Language" content="en"></http-equiv>
	</head>
	<body class="composite">
		<div id="contentBox">
			<div class="section">
				<h2 a="Checkstyle XML difference report">Checkstyle XML difference report</h2>
				<a href="help.html"><h4>explanation</h4></a>
			</div>
			<div class="section">
				<h2 a="Configuration">Configuration:</h2>
				<div class="section">
					<table border="0" class="bodyTable">
						<tr class="a">
							<th>Option name</th>
							<th>Option value</th>
						</tr>
						<tr class="a">
							<td>baseReportPath</td>
							<td id="baseReportPath" th:text=${paths.baseReportPath}> baseReportPath </td>
						</tr>
						<tr class="a">
							<td>patchReportPath</td>
							<td id="patchReportPath" th:text=${paths.patchReportPath}> patchReportPath </td>
						</tr>
						<th:block th:if="${paths.sourcePath} != null">
							<tr class="a">
								<td>sourcePath</td>
								<td id="sourcePath" th:text=${paths.sourcePath}> sourcePath </td>
							</tr>
						</th:block>
						<tr class="a">
							<td>resultPath</td>
							<td id="resultPath" th:text=${paths.resultPath}> resultPath </td>
						</tr>
					</table>
				</div>
			</div>
			<div class="section">
				<h2 a="Summary:">Summary:</h2>
				<div class="section">
					<table border="0" class="bodyTable">
						<tr class="a">
							<th>Report index</th>
							<th>Files</th>
							<th>Unique rows</th>
							<th>Info</th>
							<th>Warnings</th>
							<th>Errors</th>
						</tr>
						<tr class="b">
							<td>base</td>
							<td id="filesBase" th:text=${statistics.fileNumBase}> fileNumBase </td>
							<td id="totalBase" th:text=${statistics.totalNumBase}> totalNumBase </td>
							<td id="infoBase" th:text=${statistics.infoNumBase}> infoNumBase </td>
							<td id="warningBase" th:text=${statistics.warningNumBase}> warningNumBase </td>
							<td id="errorBase" th:text=${statistics.errorNumBase}> errorNumBase </td>
						</tr>
						<tr class="a">
							<td>patch</td>
							<td id="filesPatch" th:text=${statistics.fileNumPatch}> fileNumPatch </td>
							<td id="totalPatch" th:text=${statistics.totalNumPatch}> totalNumPatch </td>
							<td id="infoPatch" th:text=${statistics.infoNumPatch}> infoNumPatch </td>
							<td id="warningPatch" th:text=${statistics.warningNumPatch}> warningNumPatch </td>
							<td id="errorPatch" th:text=${statistics.errorNumPatch}> errorNumPatch </td>
						</tr>
						<tr class="b">
							<td>difference</td>
							<td id="filesDiff" th:text=${statistics.fileNumDiff}> fileNumDiff </td>
							<td id="totalDiff" th:text=${statistics.totalNumDiff}> totalNumDiff </td>
							<td id="infoDiff" th:text=${statistics.infoNumDiff}> infoNumDiff </td>
							<td id="warningDiff" th:text=${statistics.warningNumDiff}> warningNumDiff </td>
							<td id="errorDiff" th:text=${statistics.errorNumDiff}> errorNumDiff </td>
						<tr>
					</table>
				</div>
			</div>
			<div class="section">
				<h2 a="Unique rows:">Unique rows:</h2>
