Checkstyle ${releaseNo} - http://checkstyle.sourceforge.net/releasenotes.html#Release_${releaseNo}
<#if breakingMessages?has_content>
Breaking backward compatibility: ${breakingMessages?size}</#if>
<#if newMessages?has_content>
New functionality: ${newMessages?size}
</#if>
<#if bugMessages?has_content>
Bug fixes: ${bugMessages?size}
</#if>
